body,
h1,
h2,
h3 {
  color: #000;
  text-transform: uppercase;
  font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}


/*Верхняя панель навигации*/

.page-maincontainer {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

header {
  background: #ffffff;
  position: relative;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation li {
  list-style: none;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation li:nth-child(1),
.navigation li:nth-child(2) {
  width: 240px;
  float: left;
  text-align: left;
}

.navigation li:nth-child(3),
.navigation li:nth-child(4) {
  width: 240px;
  float: right;
  text-align: right;
}

.navigation li:first-child {
  margin-left: 73px;
}

.navigation li:nth-child(3) {
  margin-right: 73px;
}

.navigation a {
  font-size: 14px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #b2b2b2
}

.navigation .act-nav {
  color: #766357;
}

.navigation .act-nav:hover {
  color: #604e43;
}

.navigation .act-nav:active {
  color: #d6d0cc;
}

header .top-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
  z-index: 2;
}


/*Оформление основного блока*/


.sedona-bg {
  position: relative;
  width: 100%;
  height: 540px;
}

.sedona-bg .main-bg {
  width: 100%;
  height: 540px;
}

.sedona-bg .white-mask {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 57px;
  z-index: 23;
}

.container {
  width: 100%;
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.container h1 {
  font-size: 21px;
  line-height: 26px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container p {
  font-size: 14px;
  line-height: 26px;
}

.row {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.block {
  width: 33.33%;
  float: left;
  text-align: center;
  min-height: 256px;
}

.city-block {
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: #81b3d2;
  color: #fff;
  min-height: 256px;
}

.block h2 {
  width: 150px;
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.app-block h2::before,
.food-block h2::before,
.memento-block h2::before {
  content: '';
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  vertical-align: middle;
}

.app-block h2::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/house.png");
}

.food-block h2::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/burger.png");
}

.memento-block h2::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/souvenir.png");
}

.memento-block h2 {
  margin-top: 42px;
}

.app-block {
  margin-bottom: 74px;
}

.city-block h2 {
  color: #fff;
  margin-top: 50px;
}

.block .reason {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
}

.reason .res-number {
  position: relative;
  display: inline;
  margin: 0px;
  padding: 0px 5px;
}

.reason .res-number::before,
.reason .res-number::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 2px;
  width: 10px;
  background-color: #fff;
}

.reason .res-number::before {
  right: 100%;
}

.reason .res-number::after {
  left: 100%;
}

.reason-3 .res-number::after,
.reason-3 .res-number::before {
  background-color: #000;
}

.reason-4 .res-number::after,
.reason-4 .res-number::before {
  background-color: #000;
}

.reason-5 .res-number::after,
.reason-5 .res-number::before {
  background-color: #000;
}

.block p {
  width: 330px;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
}

.city-pic {
  float: right;
  width: 66.67%;
  height: 256px;
}

.bridge-pic {
  float: left;
  width: 66.66%;
  height: 256px;
}

.devil-block {
  width: 33.33%;
  float: right;
  background-color: #81b3d2;
  color: #fff;
  min-height: 256px;
}

.devil-block h2 {
  width: 160px;
  color: #fff;
}

.reason-3 p {
  width: 220px;
}

.reason-4 p {
  width: 270px;
}

.food-block p {
  width: 295px;
}

.block-gray {
  background-color: #eeeeee;
}


/*Оформление формы поиска на главной странице*/

.search-form {
  text-align: center;
  margin-top: 40px;
}

.search-form h2 {
  font-size: 30px;
  line-height: 24px;
}

.search-form p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 37px;
}

.form {
  position: relative;
  width: 576px;
  margin: 0 auto;
}

.search-btn {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  background: #766357;
  font-weight: bold;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.true-form {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

@keyframes bounce-up {
  0% {
    transform: translateY(2000px);
  }
  70% {
    transform: translateY(20px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.show-up {
  display: block;
  top: 76px;
  animation: bounce-up 0.75s;
}

.true-form form {
  display: block;
  width: 460px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
}

.arrival,
.departure,
.type-blck {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  vertical-align: middle;
}

.arrival label,
.departure label {
  float: left;
  width: 101px;
  margin-top: 5px;
}

button,
input {
  font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

.arrival input[type=number],
.departure input[type=number] {
  float: right;
  width: 330px;
  height: 35px;
  font-weight: bold;
  color: #000;
  background-color: #f2f2f2;
  background-image: url("../img/calendar-sprite.png");
  background-repeat: no-repeat;
  background-position: right -4px;
  border: none;
  padding-left: 15px;
}

.arrival input[type=number]:hover,
.departure input[type=number]:hover {
  background-color: #ebebeb;
  background-position: right -88px;
}

.arrival input[type=number]:focus,
.departure input[type=number]:focus {
  background: #ffffff;
  background-position: right -42px;
  outline: none;
  border: 1px solid #e5e5e5;
}

input[type=number]::-webkit-input-placeholder {
  color: #000;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.type-blck {
  width: 100%;
}

.left-type,
.right-type {
  width: 230px;
}

.left-type {
  float: left;
}

.right-type {
  float: right;
}

.left-type label {
  width: 80px;
  float: left;
  margin-top: 5px;
}

.left-type .number-block {
  margin-left: 35px;
}

.right-type label {
  float: left;
  width: 80px;
  margin-top: 5px;
  margin-left: 20px;
}

.right-type .number-block {
  margin-left: 15px;
  float: right;
}

.minus,
.plus {
  width: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  cursor: pointer;
  border: none;
  background-color: #f2f2f2;
  height: 35px;
}

.minus:hover,
.plus:hover {
  color: #000000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.minus:focus,
.plus:focus {
  outline: none;
}

.type-blck .number-block {
  display: inline-block;
  width: 115px;
  height: 35px;
  background-color: #f2f2f2;
}

.number-block input[type=number] {
  width: 30px;
  height: 35px;
  border: none;
  background-color: #f2f2f2;
  text-align: center;
  vertical-align: top;
}

input[type=submit] {
  display: block;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 30px;
}

input[type=submit]:hover {
  background: #669ec0;
}

input[type=submit]:active {
  background: #5496bd;
  color: #6ca5c6;
}


/*Подвал*/

footer {
  position: relative;
}

.pos-block {
  position: absolute;
  top: -145px;
  background-color: #fdfdfd;
  opacity: 0.9;
  width: 100%;
}

.fot-block {
  width: 240px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: 140px;
}

.visit a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.fot-block .soc-btn {
  display: inline-block;
}

.social a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #81b3d2;
}

.social a:hover {
  background-color: #669ec0;
}

.social a:active {
  background-color: #5496bd;
}

.soc-bcg {
  display: block;
  width: 50px;
  height: 50px;
}

.soc-bcg:active {
  opacity: 0.50;
}

.twit {
  background-image: url(../img/tw-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.face {
  background-image: url(../img/face-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.you {
  background-image: url(../img/you-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.dev-team .academy-logo {
  display: inline-block;
  width: 113px;
  height: 39px;
  background-image: url("../img/academy-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
  vertical-align: middle;
  margin-left: 10px;
}

.dev-team .academy-logo:hover {
  background-image: url("../img/academy-sprite.png");
  background-repeat: no-repeat;
  background-position: -128px -5px;
}

.dev-team .academy-logo:active {
  background-image: url("../img/academy-sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -54px;
}


/*Оформление второй страницы*/


/*Форма поиска*/

.search-hotel {
  width: 100%;
  background: #000 url("../img/hotels-bgn.jpg") no-repeat;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-hotel .inf-block,
.search-hotel .residence-block {
  float: left;
  width: 160px;
  margin-left: 73px;
}

.search-hotel p {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.search-hotel label {
  font-size: 14px;
  line-height: 21px;
}

.inf-block label,
.residence-block label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding-left: 35px;
}

.search-hotel .residence-block {
  margin-left: 80px;
}

.search-hotel input[type=checkbox] {
  display: none;
}

.search-hotel input[type=checkbox]+.indicator::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 25px;
  height: 25px;
  background-image: url("../img/box.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.search-hotel input[type=checkbox]+.indicator:hover::before {
  background-image: url("../img/box.png");
  background-position: -37px -5px;
}

.search-hotel input[type=checkbox]:disabled +.indicator::before {
  background-image: url("../img/box.png");
  background-position: -68px -5px;
}

.search-hotel input[type=checkbox]:checked +.indicator::before {
  background-image: url("../img/box-checked.png");
  background-position: -5px -5px;
}

.search-hotel input[type=checkbox]:checked +.indicator:hover::before {
  background-image: url("../img/box-checked.png");
  background-position: -77px -5px;
}

.search-hotel input[type=checkbox]:checked:disabled +.indicator::before {
  background-image: url("../img/box-checked.png");
  background-position: -41px -5px;
}


/*Форма отображения цен*/

.right-part {
  float: right;
  width: 330px;
  margin-right: 73px;
}

.price-for-day p {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  margin-bottom: 9px;
}

.from-to {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.from-to::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.from-to label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  width: 90px;
  padding-left: 65px;
}

.from-to input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}


/*Slider*/

.slider {
  position: relative;
  margin-bottom: 32px;
}

.slider .rail {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider .bar {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

.circle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circle:hover {
  background: #1e5081;
}

.min {
  left: 0;
}

.max {
  left: 80%;
}


/*Кнопка "Показать"*/

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}


/*Результаты поиска*/

.search-filter {
  width: 100%;
  display: inline-block;
  margin-top: 35px;
  padding-bottom: 33px;
  border-bottom: 1px solid #e5e5e5;
}

.search-filter li {
  display: inline-block;
  margin: 0;
}

.search-filter ul {
  margin-left: 73px;
  margin-right: 73px;
}

.search-filter .finded {
  width: 135px;
  font-size: 21px;
  line-height: 26px;
  margin-right: 30px;
  font-weight: bold;
}

.search-filter .sorted {
  width: 100%;
  display: inline-block;
}

.sorted a {
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  color: #b2b2b2;
  margin-left: 35px;
  border-bottom: 1px dotted #81b3d2;
}

.sorted a:hover {
  color: #81b3d2;
}

.sorted a:active {
  color: #000;
}

.sorted .chosen-one {
  border-bottom: none;
  color: #81b3d2;
}

.switchers {
  float: right;
  width: 100px;
  text-align: right;
}

.switchers .down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 5px;
  border: 7px solid transparent;
  border-bottom: 10px solid #cccccc;
  vertical-align: top;
  cursor: pointer;
}

.switchers .down:hover {
  border: 7px solid transparent;
  border-bottom: 10px solid #000000;
}

.switchers .down:active {
  border: 7px solid transparent;
  border-bottom: 10px solid #81b3d2;
}

.switchers .up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 11px;
  margin-left: 5px;
  border: 7px solid transparent;
  border-top: 10px solid #a2c7de;
  vertical-align: top;
  cursor: pointer;
}


/*Результат поиска*/

.search-result {
  padding: 0;
  margin: 0;
}

.search-result li {
  list-style: none;
  padding: 33px 73px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result .search-row {
  max-height: 90px;
}

li .hotel-img {
  float: left;
}

li .hotel-info {
  float: left;
}

li .hotel-rate {
  float: right;
}

.hotel-info {
  width: 270px;
  height: 90px;
  margin-left: 35px;
}

.hotel-info .hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}

.hotel-info .half-block {
  width: 82px;
  float: left;
}

.hotel-info .half-block-2 {
  width: 150px;
  float: right;
}

.hotel-info a {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #fff;
  padding: 5px 15px;
}

.hotel-info .type-app,
.hotel-info .price {
  display: block;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  color: #333;
  margin-bottom: 14px;
}

.hotel-info .more {
  background: #81b3d2;
}

.hotel-info .reserv {
  background: #766357;
}

.hotel-info .hotel-name:hover {
  color: #81b3d2;
}

.hotel-info .hotel-name:active {
  color: #b2b2b2;
}

.hotel-info .more:hover {
  background: #669ec0;
}

.hotel-info .more:active {
  color: #88b6d1;
  background: #5496bd;
}

.hotel-info .reserv:hover {
  background: #604e43;
}

.hotel-info .reserv:active {
  color: #81746d;
  background: #503e33;
}

.stars ul {
  float: right;
  width: 100px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  text-align: right;
  margin-bottom: 35px;
}

.stars li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
}

.star {
  width: 20px;
  height: 20px;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
}

.raiting {
  width: 100px;
  height: 20px;
  padding: 6px 15px;
  background-color: #f2f2f2;
  color: #666666;
}
